<% content_for :head do %>
    <title>CineTracker</title>
<% end %>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <i class="fa fa-play-circle"></i> Cine<span style="color: #EB3C3C">Tracker</span>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#download">Sign Up</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Search</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">Cine<span style="color: #EB3C3C">Tracker</span></h1>
                        <p class="intro-text">Keep track of all your movies, TV shows, and find new recommendations.<br>Created by TheDirectors</p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About CineTracker</h2>
                <p>CineTracker is a free Ruby on Rails web app created by TheDirectors. You can start using it right away, simply create an account on <a href="#download">the sign up page</a>.</p>
                <p>After creating an account, you can add movies and TV shows to your lists by finding them on <a href="#contact">the search page</a>.</p>
                <p>Once you've built up a list of movies or shows that you've seen and rated, you can view recommendations for ones you might be interested in.</p>
            </div>
        </div>
    </section>

    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Create an account on CineTracker</h2>
                    <p>You can sign up for free.</p>
                    <a href="" class="btn btn-default btn-lg">Visit Sign Up Page</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Search for a movie or TV show</h2>
                <p>Add movies or shows to your lists by searching for them here.</p>
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="" class="btn btn-default btn-lg"><i class="fa"></i> <span class="network-name">Search Movies</span></a>
                    </li>
                    <li>
                        <a href="" class="btn btn-default btn-lg"><i class="fa"></i> <span class="network-name">Search TV Shows</span></a>
                    </li>
                    <li>
                        <a href="" class="btn btn-default btn-lg"><i class="fa"></i> <span class="network-name">Search All</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <!-- Map Section -->
    <div id="map">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><%=image_tag("deadpool-poster.jpg", :class => "poster") %></div>
                <div class="swiper-slide"><%=image_tag("interstellar-poster.jpg", :class => "poster") %></div>
                <div class="swiper-slide"><%=image_tag("mad-max-fury-road-poster.jpg", :class => "poster") %></div>
                <div class="swiper-slide"><%=image_tag("the-martian-poster.jpg", :class => "poster") %></div>
                <div class="swiper-slide"><%=image_tag("star-wars-the-force-awakens-poster.jpg", :class => "poster") %></div>
                <div class="swiper-slide"><%=image_tag("spectre-poster.jpg", :class => "poster") %></div>
                <div class="swiper-slide"><%=image_tag("kingsman-the-secret-service-poster.jpg", :class => "poster") %></div>
                <div class="swiper-slide"><%=image_tag("ex-machina-poster.jpg", :class => "poster") %></div>
                <div class="swiper-slide"><%=image_tag("sicario-poster.jpg", :class => "poster") %></div>
                <div class="swiper-slide"><%=image_tag("the-revenant-poster.jpg", :class => "poster") %></div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination swiper-pagination-white"></div>
            <div class="swiper-button-next swiper-button-white"></div>
            <div class="swiper-button-prev swiper-button-white"></div>
        </div>
    </div>

    <!-- Footer -->
    <footer>
        <div class="container text-center"><%=image_tag("tmdblogo2.png", :id => "logo") %></div>
        <div class="container text-center">
            <p id="disclaimer">This product uses the TMDb API but is not endorsed or certified by TMDb.</p>
        </div>
    </footer>

    <script>
        var swiper = new Swiper('.swiper-container', {
            pagination: '.swiper-pagination',
            slidesPerView: 4,
            centeredSlides: true,
            nextButton: '.swiper-button-next',
            prevButton: '.swiper-button-prev',
            paginationClickable: true,
            loop: true,
            spaceBetween: 5
        });
        </script>
</body>