<% content_for :head do %>
    <title>Info</title>
<% end %>

<div class="container content-section">
<% if params[:addto] != nil && params[:addto] != "" %>
	<div class="added text-center">
	<% @listname = "" + params[:addto] %>
	<% @base_url = Tmdb::Configuration.get.images.base_url + Tmdb::Configuration.get.images.backdrop_sizes[3] %>
	<% @backdrop = @base_url + "/" + params[:bg] %>
	<% @lis = (current_user.lists.find_by name: @listname) %>
	<% @addId = params[:id].to_i %>
	<% if params[:type] == "mov" %>
		<% if @lis.movie_ids.include? @addId %>
			<h4>This movie is already in your "<%= @listname %>" list.</h4>
		<% else %>
			<% @lis.movie_ids << @addId %>
			<% @lis.save %>
			<h4>The movie has been added to your "<%= @listname %>" list.</h4>
		<% end %>
	<% else %>
		<% if @lis.tv_show_ids.include? @addId %>
			<h4>This show is already in your "<%= @listname %>" list.</h4>
		<% else %>
			<% @lis.tv_show_ids << @addId %>
			<% @lis.save %>
			<h4>The show has been added to your "<%= @listname %>" list.</h4>
		<% end %>
	<% end %>
	</div>
<% else %>
	<% if params[:mov] != nil && params[:mov] != "" %>
		<% @type = "mov" %>
		<% @id = params[:mov] %>
	    <% @result = Movie.info(@id) %>
	    <% @term = "title" %>
	    <% @video = Movie.videos(@id) %>
	<% elsif params[:tv] != nil && params[:tv] != "" %>
		<% @type = "tv" %>
		<% @id = params[:tv] %>
	    <% @result = TvShow.info(@id) %>
	    <% @term = "name" %>
	    <% @video = TvShow.videos(@id) %>
	<% end %>
	<div class="info">
		<h1><span style="color: #EB3C3C;"><%= @result[@term] %></span>
			<% if @video != nil %>
				<button type="button" class="btn btn-lg btn-default" onclick="showVideo();">Trailer</button>
			<% end %>
		</h1>
		<% if @video != nil %>
			<div onClick="hideVideo();" id="fade" class="black-overlay"></div>
			<div id="light" class="ytplayer">
				<iframe id="frame" type="text/html" width="720" height="480" data-src="https://www.youtube.com/embed/<%= @video %>?origin=cinetracker.herokuapp.com" frameborder="0" allowfullscreen></iframe>
			</div>
		<% end %>
		<h3 class="summary-header">Summary</h3>
		<p class="summary"><%= @result[:overview] %></p>
		<% if logged_in? %>
			<% @dropdown_flag = false %>
			<ul class="text-center list-inline banner-social-buttons">
				<% current_user.lists.each_with_index do |lis, index| %>
					<% if index < 3 %>
				    <li>
				        <form>
				        	<input type="hidden" name="type" value="<%= @type %>"></input>
				        	<input type="hidden" name="id" value="<%= @id %>"></input>
				        	<input type="hidden" name="bg" value="<%= @result[:backdrop_path][1..-1] %>"></input>
				            <button type="submit" name="addto" class="btn btn-lg btn-default" value="<%= lis.name %>">Add to "<%= lis.name %>" list</button>
				        </form>
				    </li>
				    <% elsif !@dropdown_flag %>
						<li class="dropdown">
				            <button href="" data-toggle="dropdown" type="submit" class="btn btn-lg btn-default">Add to Custom list</button>
                            <ul class="dropdown-menu info-drop" role="menu">
                            	<% current_user.lists.each_with_index do |lis_sub, index_sub| %>
                            		<% @tab_ref_sub = "?type=" + @type + "&id=" + @id + "&bg=" + @result[:backdrop_path][1..-1] + "&addto=" + lis_sub.name + "" %>
                            		<% if index_sub >= 3 %>
		                                <li><a data-toggle="tab dropdown-toggle disabled" href="<%= @tab_ref_sub %>"><%= lis_sub.name %></a></li>
	                                <% end %>
                                <% end %>
                               <% @dropdown_flag = true %>
                            </ul>
                        </li>
				    <% end %>
			    <% end %>
			</ul>
        <% end %>
	</div>
	<% @base_url = Tmdb::Configuration.get.images.base_url + Tmdb::Configuration.get.images.backdrop_sizes[3] %>
	<% @backdrop = @base_url + @result[:backdrop_path] %>
<% end %>
</div>
<style type="text/css">
	.ytplayer {
		display: none;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index:10002;
		overflow: auto;
	}
	.black-overlay{
        display: none;
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background-color: black;
        z-index:10001;
        -moz-opacity: 0.8;
        opacity:.80;
        filter: alpha(opacity=80);
    }
	body {
		background: url(<%= @backdrop %>) no-repeat bottom center scroll;
	    background-color: #000;
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    background-size: cover;
	    -o-background-size: cover;
	}
	.navbar .container {
		background-color: rgba(0, 0, 0, .7);
	}
	.info {
		padding: 25px;
		background-color: rgba(0, 0, 0, .7);
	}
	.added {
		padding-top: 35px;
		padding-bottom: 1px;
		background-color: rgba(0, 0, 0, .7);
	}
</style> 
<script>
	function showVideo() {
		if (document.getElementById("frame") == null) {
			var frame = document.createElement("iframe");
			frame.setAttribute("type", "text/html");
			frame.setAttribute("width", "720");
			frame.setAttribute("height", "480");
			frame.setAttribute("data-src", "https://www.youtube.com/embed/<%= @video %>?origin=cinetracker.herokuapp.com");
			frame.setAttribute("frameborder", "0");
			frame.setAttribute("allowfullscreen", "");
			document.getElementById("light").appendChild(frame);
		}
		$(".ytplayer").show(function(){
		    // Find the iframes within our newly-visible element
		    $(this).find("iframe").attr("src", function(){
		        // Set their src attribute to the value of data-src
		        return $(this).data("src") + "&autoplay=1";
		    });
		});
		document.getElementById('light').style.display='block';
		document.getElementById('fade').style.display='block'
	}
	function hideVideo() {
		$(".ytplayer").show(function(){
		    // Find the iframes within our newly-visible element
		    $(this).find("iframe").remove();
		});
		document.getElementById('light').style.display='none';
		document.getElementById('fade').style.display='none';
	}
</script>