<% content_for :head do %>
    <title>Info</title>
<% end %>

<div class="container content-section">
<% if params[:addto] != nil && params[:addto] != "" %>
	<div class="added text-center">
	<% @listname = "" + params[:addto] %>
	<% @base_url = Tmdb::Configuration.get.images.base_url + Tmdb::Configuration.get.images.backdrop_sizes[3] %>
	<% @backdrop = @base_url + "/" + params[:bg] %>
	<% @lis = (current_user.lists.find_by name: @listname) %>
	<% @addId = params[:id].to_i %>
	<% if params[:type] == "mov" %>
		<% if @lis.movie_ids.include? @addId %>
			<h4>This movie is already in your "<%= @listname %>" list.</h4>
		<% else %>
			<% @lis.movie_ids << @addId %>
			<% @lis.save %>
			<h4>The movie has been added to your "<%= @listname %>" list.</h4>
		<% end %>
	<% else %>
		<% if @lis.tv_show_ids.include? @addId %>
			<h4>This show is already in your "<%= @listname %>" list.</h4>
		<% else %>
			<% @lis.tv_show_ids << @addId %>
			<% @lis.save %>
			<h4>The show has been added to your "<%= @listname %>" list.</h4>
		<% end %>
	<% end %>
	</div>
<% else %>
	<% if params[:mov] != nil && params[:mov] != "" %>
		<% @type = "mov" %>
		<% @id = params[:mov] %>
	    <% @result = Movie.info(@id) %>
	    <% @term = "title" %>
	<% elsif params[:tv] != nil && params[:tv] != "" %>
		<% @type = "tv" %>
		<% @id = params[:tv] %>
	    <% @result = TvShow.info(@id) %>
	    <% @term = "name" %>
	<% end %>
	<div class="info">
		<h1>Title</h1>
		<p><%= @result[@term] %></p>
		<h1>Summary</h1>
		<p><%= @result[:overview] %></p>
		<% if logged_in? %>
			<% @dropdown_flag = false %>
			<ul class="text-center list-inline banner-social-buttons">
				<% current_user.lists.each_with_index do |lis, index| %>
					<% if index < 3 %>
				    <li>
				        <form>
				        	<input type="hidden" name="type" value="<%= @type %>"></input>
				        	<input type="hidden" name="id" value="<%= @id %>"></input>
				        	<input type="hidden" name="bg" value="<%= @result[:backdrop_path][1..-1] %>"></input>
				            <button type="submit" name="addto" class="btn btn-lg btn-default" value="<%= lis.name %>">Add to "<%= lis.name %>" list</button>
				        </form>
				    </li>
				    <% elsif !@dropdown_flag %>
						<li class="dropdown">
				            <button href="" data-toggle="dropdown" type="submit" class="btn btn-lg btn-default">Add to Custom list</button>
                            <ul class="dropdown-menu info-drop" role="menu">
                            	<% current_user.lists.each_with_index do |lis_sub, index_sub| %>
                            		<% @tab_ref_sub = "?type=" + @type + "&id=" + @id + "&bg=" + @result[:backdrop_path][1..-1] + "&addto=" + lis_sub.name + "" %>
                            		<% if index_sub >= 3 %>
		                                <li><a data-toggle="tab dropdown-toggle disabled" href="<%= @tab_ref_sub %>"><%= lis_sub.name %></a></li>
	                                <% end %>
                                <% end %>
                               <% @dropdown_flag = true %>
                            </ul>
                        </li>
				    <% end %>
			    <% end %>
			</ul>
        <% end %>
	</div>
	<% @base_url = Tmdb::Configuration.get.images.base_url + Tmdb::Configuration.get.images.backdrop_sizes[3] %>
	<% @backdrop = @base_url + @result[:backdrop_path] %>
<% end %>
</div>
<style type="text/css">
	body {
		background: url(<%= @backdrop %>) no-repeat bottom center scroll;
	    background-color: #000;
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    background-size: cover;
	    -o-background-size: cover;
	}
	.navbar .container {
		background-color: rgba(0, 0, 0, .7);
	}
	.info {
		padding: 25px;
		background-color: rgba(0, 0, 0, .7);
	}
	.added {
		padding-top: 35px;
		padding-bottom: 1px;
		background-color: rgba(0, 0, 0, .7);
	}
</style>