<% content_for :head do %>
    <title>Profile</title>
<% end %>

<div class = "container content-section">
	<% if params[:del] != nil && params[:type] != nil && params[:list] != nil %>
		<p>The item has been deleted from your <%= current_user.lists[params[:list].to_i].name %> list.</p>
		<% if params[:type] == "mov" %>
			<% current_user.lists[params[:list].to_i].movie_ids.delete(params[:del].to_i) %>
			<% current_user.lists[params[:list].to_i].save %>
		<% elsif params[:type] == "tv" %>
			<% current_user.lists[params[:list].to_i].tv_show_ids.delete(params[:del].to_i) %>
			<% current_user.lists[params[:list].to_i].save %>
		<% end %>
	<% end %>
	<h2 class='User_Header'> <a href="/profile"><%= current_user.name %>'s Profile</a> <h2>
	<% current_user.lists.each_with_index do |lis, index| %>
	<h3><%= lis.name %></h3>
	<h4>Movies</h4>
	<p>
		<% lis.movie_ids.each do |id| %>
			<a href="/info?mov=<%= id %>"><%= Movie.info(id)[:title] %></a>
			<a href="/profile?del=<%= id %>&type=mov&list=<%= index %>">[Delete]</a><br/>
		<% end %>
	</p>
	<h4>Shows</h4>
	<p>
		<% lis.tv_show_ids.each do |id| %>
			<a href="/info?tv=<%= id %>"><%= TvShow.info(id)[:name] %></a>
			<a href="/profile?del=<%= id %>&type=tv&list=<%= index %>">[Delete]</a><br/>
		<% end %>
	</p>
	<% end %>
</div>