<% @body_class = "moviesbody" %>
<p id="notice"><%= notice %></p>
<a id="home" href="/">Home</a>
<h1 id="head">Movies</h1>
<table id="movietable">
  <thead>
    <tr class="titles" >
      <th class="theaders">Title</th>
      <th class="theaders">Runtime</th>
      <th class="theaders">Genre</th>
      <th class="theaders">Released</th>
      <th class="theaders">Description</th>
      <th class="theaders" colspan="3"></th>
    </tr>
  </thead>

  <tbody id="movietbody">
    <% @movies.each do |movie| %>
      <tr class="row" >
        <td class="tdata"><%= movie.title %></td>
        <td class="tdata"><%= movie.runtime %></td>
        <td class="tdata"><%= movie.genre %></td>
        <td class="tdata"><%= movie.released.year %></td>
        <td class="tdata"><%= movie.description %></td>
        <td class="tdata"><%= link_to 'Show', movie %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>