<p id="notice"><%= notice %></p>
<a class="home" href="/">Home</a>
<h1 class="head">TV Shows</h1>
<table id="tvtable">
  <thead>
    <tr>
      <th class="theaders">Title</th>
      <th class="theaders">Episode count</th>
      <th class="theaders">Seasons</th>
      <th class="theaders">Premiere</th>
      <th class="theaders">Avg runtime</th>
      <th class="theaders">Genre</th>
      <th class="theaders">Airing</th>
      <th class="theaders">Description</th>
      <th class="theaders" colspan="3"></th>
    </tr>
  </thead>

  <tbody id="tvtbody">
    <% @tv_shows.each do |tv_show| %>
      <tr class="row" >
        <td class="tdata"><%= tv_show.title %></td>
        <td class="tdata"><%= tv_show.episode_count %></td>
        <td class="tdata"><%= tv_show.seasons %></td>
        <td class="tdata"><%= tv_show.premiere.year %></td>
        <td class="tdata"><%= tv_show.avg_runtime %></td>
        <td class="tdata"><%= tv_show.genre %></td>
        <td class="tdata"><%= tv_show.airing %></td>
        <td class="tdata"><%= tv_show.description %></td>
        <td class="tdata"><%= link_to 'Show', tv_show %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
