<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @tv_show.title %>
</p>

<p>
  <strong>Episodes:</strong>
  <%= @tv_show.episode_count %>
</p>

<p>
  <strong>Seasons:</strong>
  <%= @tv_show.seasons %>
</p>

<p>
  <strong>Premiere:</strong>
  <%= @tv_show.premiere %>
</p>

<p>
  <strong>Avg runtime:</strong>
  <%= @tv_show.avg_runtime %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @tv_show.genre %>
</p>

<p>
  <strong>Airing:</strong>
  <%= @tv_show.airing %>
</p>

<p>
  <strong>Description:</strong>
  <%= @tv_show.description %>
</p>

<%= link_to 'Edit', edit_tv_show_path(@tv_show) %> |
<%= link_to 'Back', tv_shows_path %>
